<!-- Logout Confirmation Modal Structure -->
<div id="logoutModal" class="modal">
    <div class="modal-content">
        <div class="logout-modal-header">
            <h3>Confirm Logout</h3>
            <button class="close-btn" id="closeModalBtn">&times;</button>
        </div>
        <div class="logout-modal-body">
            <p>Are you sure you want to log out?</p>
        </div>
        <div class="logout-modal-footer">
            <button id="cancelLogoutBtn" class="logout-cancel-btn">Cancel</button>
            <a href="../index.html" id="confirmLogoutBtn" class="logout-confirm-btn">Log Out</a>
        </div>
    </div>
</div>